

DJANGO_ENV="production"

##local DB
# DB_HOST=127.0.0.1
# DB_PORT=3306
# DB_DATABASE=vendly
# DB_USERNAME=root
# DB_PASSWORD=your_password

##live DB
# DB_HOST='srv1477.hstgr.io'
# DB_PORT=3306
# DB_DATABASE='u536616156_royal_vendly'
# DB_USERNAME='u536616156_royal_vendly'
# DB_PASSWORD='Royal_vendly123'


PINGRAM_API_KEY=pingram_sk_eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJqdGkiOiJrZXlfZjc1ODliZjRkNDkzNGU2ZjM2NjdiOTRhODBkYWM4OTAiLCJ2ZXJzaW9uIjoxLCJhY2NvdW50SWQiOiJtYTlxMnBvc3NpazlzZHhuaTlkem8wd2VuaCIsImtleVR5cGUiOiJzZWNyZXQiLCJlbnZpcm9ubWVudElkIjoibWE5cTJwb3NzaWs5c2R4bmk5ZHpvMHdlbmgifQ.1_lxj2fiHsJ5G0iIKLQ1ZEb5IjHNeeimp_Xv12FV6Zc
PINGRAM_BASE_URL=https://api.pingram.io

##railway DB
# mysql://root:lLGaOQIdBetccrACRuDDobFzDFsEbiwo@junction.proxy.rlwy.net:31940/railway
# mysql://root:vcbQYwKvoFDnjKuMxNngISIVdZRxNpfs@turntable.proxy.rlwy.net:44538/railway
# DB_HOST="junction.proxy.rlwy.net"
# DB_PORT="31940"
# DB_DATABASE="railway"
# DB_USERNAME="root"
# DB_PASSWORD="lLGaOQIdBetccrACRuDDobFzDFsEbiwo"

SUPABASE_URL=https://gmrcqqdbkqhpktrhyzdw.supabase.co
SUPABASE_SECRET_KEY=""
SUPABASE_BUCKET=Vendly
SEED_USER_PASSWORD="DemoPass123!"
